
<!-- <h1 style="color:hotpink">  Login was successfull</h1> -->

<p>the text is : {{text}} </p>
<div>
<h4><b>classify options:</b></h4>
<form #cityForm = "ngForm" ></form>
<mat-form-field appearance="fill">
  <mat-label >{{classify}}</mat-label >
  <mat-select [(ngModel)] = "classify" name = "classify">
    <mat-option *ngFor="let food of foods" [value]="food"   >
      {{food}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>

<button mat-raised-button
color = "primary"
(click) = "show()">
  Get info
</button>

<div>
  <br>
<button mat-raised-button
color = 'warn'
(click) = "add()">
  Save
</button></div>



<!-- <div>
    <button mat-raised-button
    color = "primary"
    (click) = "addCustomerFormOpen= !addCustomerFormOpen">
      Add Customer
    </button>
  </div>
    
  <div>
    <customerform *ngIf="addCustomerFormOpen"
    (update)="add($event)"
    (closeEdit)="addCustomerFormOpen=false"
    [formType]="'Add customer'"
    >
  
    </customerform>

    
    
      <table >
        <tr>
          <th>Name</th>
          <th>Years</th>
          <th>Income</th>
          <th>Id</th>
          <th>Prediction</th>
        </tr>
        <tr  *ngFor = "let customer of customers$ | async; let i= index">
          <td>{{customer.name}}</td>
          <td >{{customer.years}}</td>
          <td >{{customer.income}}</td>
          <td>{{customer.id}}</td>
          <td>{{customer.prediction}}</td>
          <td>
            <button mat-raised-button
           
            color = "primary"
            (click) = "deleteCustomer(customer.id)">
            Delete
            </button>
          </td>
          <td>
            <button mat-raised-button
            color = "primary"
            (click) = "editstate[i] = !editstate[i]">
              Edit
            </button>
        <customerform
          [hidden] = "!editstate[i]"
          [name] = "customer.name"
          [years] = "customer.years"
          [income] = "customer.income"
          [id]= "customer.id"
          [formType]="'Edit customer'"
          (update)= "updateCustomer($event) ; editstate[i] = !editstate[i]"
          (closeEdit)= "editstate[i] = !editstate[i]"
        > 
  
        </customerform>
          </td>
          <td>
            <button mat-raised-button
           
            color = "primary"
            (click) = "predict(customer.years,customer.income)">
            Predict
            </button>
          </td>
          <td>
            <button mat-raised-button
           
            color = "primary"
            (click) = "addPrediction(userId,customer.id,prediction)">
            Add prediction to database
            </button>
          </td>
        </tr>
        
      </table>
      <p *ngIf = "prediction=='Yes'" style="color: green;">{{prediction}}</p>
      <p *ngIf = "prediction=='No'" style="color: red;">{{prediction}}</p> -->
