<form #classifyForm="ngForm" >
<mat-form-field style = "width:400px">
    <mat-label>Text to classify</mat-label>
    <textarea matInput
              [(ngModel)] = "text" 
              required
              name = "text" 
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="10"
              cdkAutosizeMaxRows="20"></textarea>
  </mat-form-field>
  <div>
    <button mat-raised-button
    color = "primary"
      (click) = "classify()"
      [disabled]="!classifyForm.form.valid">
      Classify
    </button>
  </div>
 
  